body {
font-family: Arial;
margin:0;
}

nav ul{
display:flex;
gap:20px;
list-style:none;
}

#members.grid {
display: grid;
grid-template-columns: 1fr;
gap: 1rem;
}

#members.list{
display:block;
}

.card{
border:1px solid #ccc;
padding:1rem;
background:white;
}

@media (min-width: 768px){

#members.grid{
grid-template-columns:repeat(3,1fr);
}

}
